@font-face {
    font-family: "Cafe 24 Ssurround";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Cafe24Ssurround.ttf) format("truetype");
  }
  
  @font-face {
    font-family: 'locus sangsang';
    src: url('../fonts/locus_sangsang.otf') format('opentype');
    src: url('../fonts/locus_sangsang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  


  button {
    display: block;
    appearance: none;
    border:none;
    outline:none;
  }


li {
    line-height: 20px;
  }
  
  
.locus {
    font-family: "locus sangsang";
    font-size: 20px;
    line-height: 20px;
  }

  .box {
    position: relative;
    width: 85%; 
    margin-left: 7.5%;
    margin-right: 7.5%;
}
  
.yellow-outline-bold {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: #FEFFD1;
  }
  
  .yellow-outline-light {
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: #FEFFD1;
    letter-spacing: -1px;
    font-size: 22px;
  }

  
#result-title {
    padding-top: 30%;
    font-size: 34px;
    line-height: 40px;
  }
  
  #img-btn-text {
    background-image: url('../assets/pictures/textBoxWhite.png');
    width: 180px;
    height: 35px;
    background-repeat: no-repeat;
    font-family: 'locus sangsang';
    font-size: 12px;
    padding: 3%;
  }
  
  #pop-up-img {
    width: 35px;
    height: 35px;
  }
  
  #pop-up-box {
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
  }
  
  .left-float {
    float:left;
  }
  
  .right-float {
    float:right;
  }
  
  #food-bg-img {
  background-image: url('../assets/pictures/soulFoodBackground.png');
  background-size: 100%;
  background-repeat: no-repeat;
  }
  
  #food-img {
    margin-top:10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10%;
  }
  
  #food-name-box {
    margin: 0;
    width: 100%;
    padding: 5%;
    background: #E7D7F2;
  }
  
  #food-text {
    font-size: 22px;
    line-height: 30px;
  }
  
  #keyword-li {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30%;
    width: fit-content;
    background: #C4C4C4;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: "locus sangsang";
    font-size: 16px;
    line-height: 18px;
  }
  
  #keyword-ul {
    margin-top:10%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
  }
  
  #rule-box {
    margin-top:5%;
  }
  
  .locus-purple-box {
    margin-top: 5%;
    padding: 5%;
    background: #E7D7F2;
    border-radius: 20px;
    font-family: "locus sangsang";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    text-align: left;
    margin-bottom: 10%;
  }
  
  #app-theme-color {
    color: #6A0888;
  }
  
  
  #left-link-container {
    margin-left: 20%;
  }
  
  .link-btn, .link-img, #text-link-btn{
    width: 47px;
    height: 47px;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  
  #link-label { 
    padding-top: 10%;
  }
  
  #reference {
    margin-top: 10%;
    font-size: 9px;
    color: gray;
  }
  
  #pop-up-container {
    margin: 0 auto;
    width: 250px;
    letter-spacing: 1px;
    line-height:20px;
  }
  
  #pop-up-btn {
    margin-top: 5px;
    font-family: "locus sangsang";
    background: #FEFFD1;
    border-radius: 20px;
    padding: 5px;
    width:100%;
  }
  