@font-face {
  font-family: "Cafe 24 Ssurround";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Cafe24Ssurround.ttf) format("truetype");
}

@font-face {
  font-family: 'locus sangsang';
  src: url('../fonts/locus_sangsang.otf') format('opentype');
  src: url('../fonts/locus_sangsang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  background: #B8A2C8;
  font-family: "Cafe 24 Ssurround", -apple-system, BlinkMacSystemFont, 
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  word-break: keep-all;
  margin-bottom: 20%;
}

button {
  display: block;
  appearance: none;
  border:none;
  outline:none;
}

select, option {
  display: block;
  box-sizing: border-box;
  width: 90%;
  border-radius: 4px;
  font-family: "Cafe 24 Ssurround";
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  margin: 5%;
  padding: 3%;
  font-size: 18px;
}

li {
  line-height: 20px;
}

.locus {
  font-family: "locus sangsang";
  font-size: 20px;
  line-height: 20px;
}

.round-btn {
  width: 200px;
  height: 50px;
  border: 3px solid #000000;
  border-radius: 40px;
  font-family: "Cafe 24 Ssurround";
  font-size: 20px;
  line-height: 35px;
  box-shadow: 0px 3px;
}

.box {
    position: relative;
    width: 85%; 
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.purple-border-box {
  text-align: left;
  background: #E7D7F2;
  border-radius: 20px;
  padding: 15px;
}

.purple-box {
  background: #E7D7F2;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.yellow-box {
  background: #FEFFD1;
  border-radius: 20px;
}

.outline-text {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.yellow-outline-bold {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #FEFFD1;
}

.yellow-outline-light {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  color: #FEFFD1;
  letter-spacing: -1px;
  font-size: 23px;
}

/* ##############################################
#############  MainPage.jsx ####################
################################################*/

.main-title {
  font-size: 40px;
  line-height: 47px;
}

#main-start-btn {
  margin: 0 auto;
  margin-top: 40%;
  background-color:#FEE922;
}

#moon-star-img {
  margin-top:25%;
  width: 150px;
}

#bulb-on-img {
  margin: 0 auto;
  width: 146px;
  height: 220px;
}

#clover-img {
  position: absolute;
  width: 150px;
  height: 147px;
  left: -60px;
}

.img-blinking{ 
  -webkit-animation:blink 1.5s ease-in-out infinite alternate; 
  -moz-animation:blink 1.5s ease-in-out infinite alternate; 
  animation:blink 1.5s ease-in-out infinite alternate; 
} 

@-webkit-keyframes blink{ 
  0% {opacity:0;} 100% {opacity:1;} 
} 

@-moz-keyframes blink{ 
  0% {opacity:0;} 100% {opacity:1;} 
} 

@keyframes blink{ 
  0% {opacity:0;} 100% {opacity:1;} 
}

.color-blinking{ 
  -webkit-animation:blinkColor 1.5s ease infinite; 
  -moz-animation:blinkColor 1.5s ease infinite; 
  animation:blinkColor 1.5s ease infinite; 
} 

@-webkit-keyframes blinkColor{ 
  0% {color:white;} 100% {color:#FEE922;} 
} 

@-moz-keyframes blinkColor{ 
  0% {color:white;} 100% {color:#FEE922;} 
} 

@keyframes blinkColor{ 
  0% {color:white;} 100% {color:#FEE922;} 
}


/* ##############################################
#############  InfoPage.jsx ####################
################################################*/

.info-label {
  font-size: 24px;
  line-height: 28px;
  color: #21296E;
  margin-left: 5%;
}

#info-title {
  padding-top: 20%;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.05em;
}

#info-box {
  margin-top: 10%;
}

#info-submit-btn {
  font-size: 0;
  width: 50px;
  height: 50px;
  border: 0;
  outline: 0;
  background-image: url("../../assets/pictures/infoStart.png");
  background-size: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-bottom: 5%;
}

#info-start-box {
  margin-top: 10%;
  margin-left: 30%;
}

/* ##############################################
#############  QuestionPage.jsx ####################
################################################*/

#progress-text {
  display: inline-block;
  margin-top: 10%;
  margin-left: 85%;
  font-size: 18px;
  line-height: 21px;
}

#proress-img {
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 70%;
  top: 35%;
}

#half-img-box {
  position:absolute;
  top:14%;
  left:8%;
}

#bulb-simple-img {
  position: absolute;
  width: 135px;
  height: 174px;
  top: 100%;
  left: 24.5%;
  object-fit: cover;
}

#question-box {
  margin-top: 50%;
  text-align: center;
  box-shadow: 0px 3px 5px;
}

#question-text {
  line-height: 200%;
} 

#choice-box {
  margin-top:5%;
  padding: 3%;
  box-shadow: 0px 3px 5px;
}

/* ##############################################
#############  ResultPage.jsx ####################
################################################*/

#result-title {
  padding-top: 30%;
  font-size: 34px;
  line-height: 40px;
}

#img-btn-text {
  background-image: url('../../assets/pictures/textBoxWhite.png');
  width: 180px;
  height: 35px;
  background-repeat: no-repeat;
  font-family: 'locus sangsang';
  font-size: 12px;
  padding: 3%;
}

#pop-up-img {
  width: 35px;
  height: 35px;
}

#pop-up-box {
  position: absolute;
  margin-left: 30%;
  margin-top: 10%;
}

.left-float {
  float:left;
}

.right-float {
  float:right;
}

#food-bg-img {
background-image: url('../../assets/pictures/soulFoodBackground.png');
background-size: 100%;
background-repeat: no-repeat;
}

#food-img {
  margin-top:10%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10%;
}

#food-name-box {
  margin: 0;
  width: 100%;
  padding: 5%;
  background: #E7D7F2;
}

#food-text {
  font-size: 22px;
  line-height: 30px;
}

#keyword-li {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30%;
  width: fit-content;
  background: #C4C4C4;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: "locus sangsang";
  font-size: 16px;
  line-height: 18px;
}

#keyword-ul {
  margin-top:10%;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
  width: 340px;
  height: 100px;
}

#rule-box {
  margin-top:5%;
}

.locus-purple-box {
  margin-top: 5%;
  padding: 5%;
  background: #E7D7F2;
  border-radius: 20px;
  font-family: "locus sangsang";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  text-align: left;
  margin-bottom: 10%;
}

#app-theme-color {
  color: #6A0888;
}

.link-container {
  float:left;
  margin-bottom: 15%;
}

#left-link-container {
  margin-left: 20%;
  margin-right: 20%;
}

#right-link-container {
  margin-right: 15%;
}

.link-btn, .link-img, #kakao-link-btn, #text-link-btn{
  width: 47px;
  height: 47px;
  background-color: transparent;
  margin-bottom: 10%;
}

#pop-up-container {
  margin: 0 auto;
  width: 250px;
  letter-spacing: 1px;
  line-height:20px;
}

#pop-up-btn {
  margin-top: 5px;
  font-family: "locus sangsang";
  background: #FEFFD1;
  border-radius: 20px;
  padding: 5px;
  width:100%;
}